 <% if params[:action]=="show" %>
 <span class="show-tooltip  pull-left" data-placement="auto" data-toggle="tooltip" data-title="<%=  "polls.enforceable".t %>" >
 	<i class=" glyphicon glyphicon-bookmark " style="font-size:30px;float: left !important;position: relative;top: -22px;color: #ccc;"  data-placement="left" data-toggle="tooltip" data-title="<%=  "polls.enforceable".t %>"></i>

 	</span>
 <% else %>
 <span class="show-tooltip label label-default"  data-placement="auto" data-toggle="tooltip" data-title="<%= "polls.enforceable_tooltip".t %>">
 	<i class=" glyphicon glyphicon-bookmark " ></i>

 	<%= "polls.enforceable".t %></span>


 <% end %>