
 <span class="show-tooltip  label label-primary" data-placement="auto" data-toggle="tooltip" data-title="<%=  "polls.priority_tooltip".t %>" >
 <i class=" glyphicon  glyphicon-send " ></i>  <%= "polls.priority_high".t %>
</span> &nbsp;