 <span class="show-tooltip label label-<%= css_class %>" data-placement="auto" data-toggle="tooltip" data-title="<%=  (l poll.start_date, format: :short)%> / <%=  (l poll.end_date, format: :short) %>" >
 	<i class=" glyphicon glyphicon-calendar " ></i>

 	<%= "polls.#{status}".t %></span>